<html>
<head>
    <title>Breed - <%= result[0].breed_id %></title>
</head>
<body>
<h1>Breed</h1>
<ul>
    <li>Breed: <%= result[0].breedName %></li>
</ul>
<br/>
<a href="/breed/all">Back to breeds</a>
</body>

</html>